<div>
    <h2 id="page-heading">
        <span jhiTranslate="saudepluplusApp.medicamento.home.title">Medicamentos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medicamento" [routerLink]="['/medicamento/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="saudepluplusApp.medicamento.home.createLabel">
            Create a new Medicamento
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medicamentos?.length === 0">
        <span jhiTranslate="saudepluplusApp.medicamento.home.notFound">No medicamentos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicamentos && medicamentos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.medicamento.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.medicamento.farmacia">Farmacia</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medicamento of medicamentos ;trackBy: trackId">
                    <td><a [routerLink]="['/medicamento', medicamento.id, 'view']">{{ medicamento.id }}</a></td>
                    <td>{{ medicamento.nome }}</td>
                    <td>
                        <div *ngIf="medicamento.farmacia">
                            <a [routerLink]="['/farmacia', medicamento.farmacia?.id, 'view']" >{{ medicamento.farmacia?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medicamento', medicamento.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medicamento', medicamento.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medicamento)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
