<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-agenda-heading" jhiTranslate="saudepluplusApp.agenda.home.createOrEditLabel">Create or edit a Agenda</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.agenda.data" for="field_data">Data</label>
                    <div class="input-group">
                        <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker #dataDp="ngbDatepicker" formControlName="data"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.agenda.medico" for="field_medico">Medico</label>
                    <select class="form-control" id="field_medico" name="medico" formControlName="medico">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="medicoOption.id === editForm.get('medico')!.value?.id ? editForm.get('medico')!.value : medicoOption" *ngFor="let medicoOption of medicos; trackBy: trackById">{{ medicoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.agenda.fisioterapeuta" for="field_fisioterapeuta">Fisioterapeuta</label>
                    <select class="form-control" id="field_fisioterapeuta" name="fisioterapeuta" formControlName="fisioterapeuta">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fisioterapeutaOption.id === editForm.get('fisioterapeuta')!.value?.id ? editForm.get('fisioterapeuta')!.value : fisioterapeutaOption" *ngFor="let fisioterapeutaOption of fisioterapeutas; trackBy: trackById">{{ fisioterapeutaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.agenda.enfermeiro" for="field_enfermeiro">Enfermeiro</label>
                    <select class="form-control" id="field_enfermeiro" name="enfermeiro" formControlName="enfermeiro">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enfermeiroOption.id === editForm.get('enfermeiro')!.value?.id ? editForm.get('enfermeiro')!.value : enfermeiroOption" *ngFor="let enfermeiroOption of enfermeiros; trackBy: trackById">{{ enfermeiroOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.agenda.psicologo" for="field_psicologo">Psicologo</label>
                    <select class="form-control" id="field_psicologo" name="psicologo" formControlName="psicologo">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="psicologoOption.id === editForm.get('psicologo')!.value?.id ? editForm.get('psicologo')!.value : psicologoOption" *ngFor="let psicologoOption of psicologos; trackBy: trackById">{{ psicologoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
