<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vacina-heading" jhiTranslate="saudepluplusApp.vacina.home.createOrEditLabel">Create or edit a Vacina</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.vacina.uUID" for="field_uUID">U UID</label>
                    <input type="text" class="form-control" name="uUID" id="field_uUID"
                           formControlName="uUID"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.vacina.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.vacina.lote" for="field_lote">Lote</label>
                    <input type="text" class="form-control" name="lote" id="field_lote"
                           formControlName="lote"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.vacina.dataAplicacao" for="field_dataAplicacao">Data Aplicacao</label>
                    <div class="input-group">
                        <input id="field_dataAplicacao" type="text" class="form-control" name="dataAplicacao" ngbDatepicker #dataAplicacaoDp="ngbDatepicker" formControlName="dataAplicacao"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataAplicacaoDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.vacina.cartaoVacina" for="field_cartaoVacina">Cartao Vacina</label>
                    <select class="form-control" id="field_cartaoVacina" name="cartaoVacina" formControlName="cartaoVacina">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cartaoVacinaOption.id === editForm.get('cartaoVacina')!.value?.id ? editForm.get('cartaoVacina')!.value : cartaoVacinaOption" *ngFor="let cartaoVacinaOption of cartaovacinas; trackBy: trackById">{{ cartaoVacinaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
