<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="farmacia">
            <h2><span jhiTranslate="saudepluplusApp.farmacia.detail.title">Farmacia</span> {{ farmacia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saudepluplusApp.farmacia.nome">Nome</span></dt>
                <dd>
                    <span>{{ farmacia.nome }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.farmacia.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="farmacia.endereco">
                        <a [routerLink]="['/endereco', farmacia.endereco?.id, 'view']">{{ farmacia.endereco?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/farmacia', farmacia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
