<div>
    <h2 id="page-heading">
        <span jhiTranslate="saudepluplusApp.farmacia.home.title">Farmacias</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-farmacia" [routerLink]="['/farmacia/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="saudepluplusApp.farmacia.home.createLabel">
            Create a new Farmacia
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="farmacias?.length === 0">
        <span jhiTranslate="saudepluplusApp.farmacia.home.notFound">No farmacias found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="farmacias && farmacias.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.farmacia.uUID">U UID</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let farmacia of farmacias ;trackBy: trackId">
                    <td><a [routerLink]="['/farmacia', farmacia.id, 'view']">{{ farmacia.id }}</a></td>
                    <td>{{ farmacia.uUID }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/farmacia', farmacia.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/farmacia', farmacia.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(farmacia)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
