<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-atendimento-heading" jhiTranslate="saudepluplusApp.atendimento.home.createOrEditLabel">Create or edit a Atendimento</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.atendimento.data" for="field_data">Data</label>
                    <div class="input-group">
                        <input id="field_data" type="text" class="form-control" name="data" ngbDatepicker #dataDp="ngbDatepicker" formControlName="data"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dataDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.atendimento.paciente" for="field_paciente">Paciente</label>
                    <select class="form-control" id="field_paciente" name="paciente" formControlName="paciente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pacienteOption.id === editForm.get('paciente')!.value?.id ? editForm.get('paciente')!.value : pacienteOption" *ngFor="let pacienteOption of pacientes; trackBy: trackById">{{ pacienteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.atendimento.profissionalDeSaude" for="field_profissionalDeSaude">Profissional De Saude</label>
                    <select class="form-control" id="field_profissionalDeSaude" name="profissionalDeSaude" formControlName="profissionalDeSaude">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profissionalDeSaudeOption.id === editForm.get('profissionalDeSaude')!.value?.id ? editForm.get('profissionalDeSaude')!.value : profissionalDeSaudeOption" *ngFor="let profissionalDeSaudeOption of profissionaldesaudes; trackBy: trackById">{{ profissionalDeSaudeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.atendimento.endereco" for="field_endereco">Endereco</label>
                    <select class="form-control" id="field_endereco" name="endereco" formControlName="endereco">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="enderecoOption.id === editForm.get('endereco')!.value?.id ? editForm.get('endereco')!.value : enderecoOption" *ngFor="let enderecoOption of enderecos; trackBy: trackById">{{ enderecoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.atendimento.agenda" for="field_agenda">Agenda</label>
                    <select class="form-control" id="field_agenda" name="agenda" formControlName="agenda">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agendaOption.id === editForm.get('agenda')!.value?.id ? editForm.get('agenda')!.value : agendaOption" *ngFor="let agendaOption of agenda; trackBy: trackById">{{ agendaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.atendimento.prontuario" for="field_prontuario">Prontuario</label>
                    <select class="form-control" id="field_prontuario" name="prontuario" formControlName="prontuario">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="prontuarioOption.id === editForm.get('prontuario')!.value?.id ? editForm.get('prontuario')!.value : prontuarioOption" *ngFor="let prontuarioOption of prontuarios; trackBy: trackById">{{ prontuarioOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
