<div>
    <h2 id="page-heading">
        <span jhiTranslate="saudepluplusApp.medico.home.title">Medicos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-medico" [routerLink]="['/medico/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="saudepluplusApp.medico.home.createLabel">
            Create a new Medico
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="medicos?.length === 0">
        <span jhiTranslate="saudepluplusApp.medico.home.notFound">No medicos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="medicos && medicos.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.medico.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.medico.rG">R G</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.medico.cPF">C PF</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.medico.numeroRegistro">Numero Registro</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let medico of medicos ;trackBy: trackId">
                    <td><a [routerLink]="['/medico', medico.id, 'view']">{{ medico.id }}</a></td>
                    <td>{{ medico.nome }}</td>
                    <td>{{ medico.rG }}</td>
                    <td>{{ medico.cPF }}</td>
                    <td>{{ medico.numeroRegistro }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/medico', medico.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/medico', medico.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(medico)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
