<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="postoDeSaude">
            <h2><span jhiTranslate="saudepluplusApp.postoDeSaude.detail.title">Posto De Saude</span> {{ postoDeSaude.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.cNPJ">C NPJ</span></dt>
                <dd>
                    <span>{{ postoDeSaude.cNPJ }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.telefone">Telefone</span></dt>
                <dd>
                    <span>{{ postoDeSaude.telefone }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.cEP">C EP</span></dt>
                <dd>
                    <span>{{ postoDeSaude.cEP }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.razaoSocial">Razao Social</span></dt>
                <dd>
                    <span>{{ postoDeSaude.razaoSocial }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.nomeFantasia">Nome Fantasia</span></dt>
                <dd>
                    <span>{{ postoDeSaude.nomeFantasia }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.tipoUnidadeSaude">Tipo Unidade Saude</span></dt>
                <dd>
                    <span jhiTranslate="{{ 'saudepluplusApp.TipoUnidadeSaude.' + postoDeSaude.tipoUnidadeSaude }}">{{ postoDeSaude.tipoUnidadeSaude }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.postoDeSaude.endereco">Endereco</span></dt>
                <dd>
                    <div *ngIf="postoDeSaude.endereco">
                        <a [routerLink]="['/endereco', postoDeSaude.endereco?.id, 'view']">{{ postoDeSaude.endereco?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/posto-de-saude', postoDeSaude.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
