<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="procedimento">
            <h2><span jhiTranslate="saudepluplusApp.procedimento.detail.title">Procedimento</span> {{ procedimento.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="saudepluplusApp.procedimento.uUID">U UID</span></dt>
                <dd>
                    <span>{{ procedimento.uUID }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.procedimento.descricao">Descricao</span></dt>
                <dd>
                    <span>{{ procedimento.descricao }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.procedimento.preco">Preco</span></dt>
                <dd>
                    <span>{{ procedimento.preco }}</span>
                </dd>
                <dt><span jhiTranslate="saudepluplusApp.procedimento.codigo">Codigo</span></dt>
                <dd>
                    <span>{{ procedimento.codigo }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/procedimento', procedimento.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
