<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-prontuario-heading" jhiTranslate="saudepluplusApp.prontuario.home.createOrEditLabel">Create or edit a Prontuario</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.prontuario.paciente" for="field_paciente">Paciente</label>
                    <select class="form-control" id="field_paciente" name="paciente" formControlName="paciente">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="pacienteOption.id === editForm.get('paciente')!.value?.id ? editForm.get('paciente')!.value : pacienteOption" *ngFor="let pacienteOption of pacientes; trackBy: trackById">{{ pacienteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.prontuario.profissionalDeSaude" for="field_profissionalDeSaude">Profissional De Saude</label>
                    <select class="form-control" id="field_profissionalDeSaude" name="profissionalDeSaude" formControlName="profissionalDeSaude">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="profissionalDeSaudeOption.id === editForm.get('profissionalDeSaude')!.value?.id ? editForm.get('profissionalDeSaude')!.value : profissionalDeSaudeOption" *ngFor="let profissionalDeSaudeOption of profissionaldesaudes; trackBy: trackById">{{ profissionalDeSaudeOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
