<div>
    <h2 id="page-heading">
        <span jhiTranslate="saudepluplusApp.profissional.home.title">Profissionals</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-profissional" [routerLink]="['/profissional/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="saudepluplusApp.profissional.home.createLabel">
            Create a new Profissional
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="profissionals?.length === 0">
        <span jhiTranslate="saudepluplusApp.profissional.home.notFound">No profissionals found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="profissionals && profissionals.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.profissional.uUID">U UID</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.profissional.nome">Nome</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.profissional.rG">R G</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.profissional.cPF">C PF</span></th>
                    <th scope="col" ><span jhiTranslate="saudepluplusApp.profissional.perfilAcesso">Perfil Acesso</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profissional of profissionals ;trackBy: trackId">
                    <td><a [routerLink]="['/profissional', profissional.id, 'view']">{{ profissional.id }}</a></td>
                    <td>{{ profissional.uUID }}</td>
                    <td>{{ profissional.nome }}</td>
                    <td>{{ profissional.rG }}</td>
                    <td>{{ profissional.cPF }}</td>
                    <td>
                        <div *ngIf="profissional.perfilAcesso">
                            <a [routerLink]="['/perfil-acesso', profissional.perfilAcesso?.id, 'view']" >{{ profissional.perfilAcesso?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/profissional', profissional.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/profissional', profissional.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(profissional)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
