<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-usuario-heading" jhiTranslate="saudepluplusApp.usuario.home.createOrEditLabel">Create or edit a Usuario</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.usuario.login" for="field_login">Login</label>
                    <input type="text" class="form-control" name="login" id="field_login"
                           formControlName="login"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.usuario.nome" for="field_nome">Nome</label>
                    <input type="text" class="form-control" name="nome" id="field_nome"
                           formControlName="nome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.usuario.sobrenome" for="field_sobrenome">Sobrenome</label>
                    <input type="text" class="form-control" name="sobrenome" id="field_sobrenome"
                           formControlName="sobrenome"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.usuario.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.usuario.ativo" for="field_ativo">Ativo</label>
                    <input type="checkbox" class="form-control" name="ativo" id="field_ativo"
                           formControlName="ativo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="saudepluplusApp.usuario.perfil" for="field_perfil">Perfil</label>
                    <select class="form-control" name="perfil" formControlName="perfil" id="field_perfil">
                        <option value="ADMINISTRADOR">{{ 'saudepluplusApp.Perfil.ADMINISTRADOR' | translate }}</option>
                        <option value="USUARIO">{{ 'saudepluplusApp.Perfil.USUARIO' | translate }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
